@font-face {
    font-family: Homework;
    src: url(font/homework.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(font/OpenSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-width: 1080px;
    font-family: OpenSans;
}

a {
    text-decoration: none;
}

.banner {
    position: relative;
    height: 100%;
    background: url("img/banner-min.jpg") no-repeat 100% 100%;
    background-size: cover;
}

.banner-logo {
    width: 4em;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 45px;
    color: #FF0000;
    font-family: Homework;
    font-size: 105px;
    margin-top: -65px;
    text-align: center;
}

.typing {
    width: 4em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 4s steps(50, end);
    animation: type 4s steps(50, end);
}

@keyframes type{
  from {width: 0;}
}

@-webkit-keyframes type{
  from {width: 0;}
}

.logo-triangle {
    position: relative;
    border: 15px solid transparent;
    border-top: 15px solid #FF0000;
    -webkit-animation: mymove 2s infinite;
    animation: mymove 2s infinite;
    display: none;
}

@-webkit-keyframes mymove {
    0%   {top: -5px;}
    50%  {top: 5px}
    100% {top: -5px;}
}

@keyframes mymove {
    0%   {top: -5px;}
    50%  {top: 5px}
    100% {top: -5px;}
}

.contact {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px 25px;
    color: #000000;

}

.contact img {
    vertical-align: middle;
}