@font-face {
    font-family: Homework;
    src: url(../font/homework.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Regular.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
}

#page-wrapper {
    width: 100%;
    height: 100%;
}

header {
    height: 60px;
}

.header-menu {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    text-align: center
}

.header-menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: OpenSans;
    font-size: 14px;
    padding: 0 25px;
}

.sub-menu {
    line-height: 60px;
    display: inline-block;
}

#contacts-trigger {
    display: none;
}

.transition {
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease;
    transform: translate3d(0, 0, 0);
}

#contacts-trigger + label {
    position: fixed;
    z-index: 30000;
    width: 200px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    top: 10px;
    right: -120px;
    will-change: right;
    padding: 0 20px;
    color: #FFFFFF;
}

#contacts-trigger + label > span {
    display: block;
    width: 100px;
    cursor: pointer;
    float: left;
    line-height: 40px;
    text-align: left;
    font-family: OpenSans;
    font-size: 14px;
}

#contacts-trigger + label > span:last-child {
    text-align: right;
}

#contacts-trigger:checked + label {
    right: calc(100% - 100px);
}

#main-content {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    will-change: left, margin-top;
}

.img-start {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 100;
}

div.page {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
}

#contacts-trigger:checked + label + #main-content {
    left: -100%;
}

#contacts-page {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 2000;
    will-change: left;
}

#contacts-trigger:checked + label + #main-content + #contacts-page {
    left: 0;
}

.img-start { background: url(../img/banner-min.jpg) no-repeat 100% 100%; background-size: cover; }
.page.img1 { background-color: rgba(0, 0, 0, 0); }
.page.img2 { background-color: rgba(0, 0, 0, 0.7); }
.page.img3 { background-color: rgba(0, 0, 0, 0); }
.page.img4 { background-color: rgba(0, 0, 0, 0.7); }
.page.img5 { background-color: rgba(0, 0, 0, 0); }

.banner-logo {
    width: 4em;
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 45px;
    color: #FF0000;
    font-family: Homework;
    font-size: 105px;
    text-align: center;
}

.typing {
    width: 4em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 4s steps(50, end);
    animation: type 4s steps(50, end);
}

@keyframes type{
    from {width: 0;}
}

@-webkit-keyframes type{
    from {width: 0;}
}

.logo-triangle {
    position: relative;
    border: 15px solid transparent;
    border-top: 15px solid #FF0000;
    -webkit-animation: mymove 2s infinite;
    animation: mymove 2s infinite;
    display: none;
}

@-webkit-keyframes mymove {
    0%   {top: -105px;}
    50%  {top: -85px}
    100% {top: -105px;}
}

@keyframes mymove {
    0%   {top: -105px;}
    50%  {top: -85px}
    100% {top: -105px;}
}

.contact-banner {
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 0;
}

.contact-information {
    position: absolute;
    left: 0;
    top: 60px;
    width: 300px;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.85);
    color: #FFFFFF;
}

.contact-information > div {
    width: 350px;
}

.contact-logo {
    text-align: center;
    font-family: Homework;
    font-size: 72px;
    line-height: 72px;
    margin: 15px 0 5px;
    color: #FF0000;
}

.contact-img {
    height: 24px;
    width: 24px;
    display: inline-block;
    margin: 10px 20px 0 25px;
}

.contact-img, .contact-content {
    display: inline-block;
}

.day, .time {
    display: inline-block;
}

.time {
    padding-left: 10px;
}

.phone-img {
    background: no-repeat url("../img/contact.png") 0 -248px;
}

.shedule-img {
    background: no-repeat url("../img/contact.png") 0 -3px;
}

.social-img {
    background: no-repeat url("../img/contact.png") 0 -377px;
}

.contact-content {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px 0 0;
}

.social-content img {
    height: 45px;
    border-radius: 47px;
    border: 2px solid #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
